
<div class="card mb-5 shadow" *ngIf="comic.title">
  <img class="card-img-top" [src]="imageSrc"/>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ comic.title }}</h5>
    <small class="text-muted mb-2">
      {{
        comic.description
      }}
    </small>
    <button class="btn btn-danger m-auto" (click)="toggleComic()" *ngIf="!favorite"><i class="fas fa-plus"></i> Add to Favourites</button>
    <button class="btn btn-secondary m-auto" (click)="toggleComic()" *ngIf="favorite"><i class="fas fa-times"></i> Remove from Favourites</button>

  </div>
</div>
