<div class="container-fluid">
  <div class="row">
    <app-searchbar class="col-12 p-0"></app-searchbar>
  </div>
  <div class="row mt-2">
    <app-content class="col-xs-12 col-sm-6 col-md-8 col-lg-9 mt-5"></app-content>
    <app-list-comics class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5" id="fav"></app-list-comics>
  </div>
</div>
