<div style="position: absolute; text-align: center;width: 100%; margin-top: 50%;">
  <div class="spinner-grow text-danger" role="status" style="width: 3em; height: 3em; margin-left: .5em;" *ngFor="let i of [1,1,1]">
    <span class="sr-only">Loading...</span>
  </div>
</div>  